.documentation {
  padding: 2rem;

  .documentation-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section {
    padding: 4rem 0rem 0rem 0rem;
    max-width: 700px;

    h4 {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--green);
    }
  }

  pre {
    text-wrap: balance;
  }

  p {
    margin: 1rem 0rem;
    line-height: 1.5;
  }
}

.links {
  padding-top: 2rem;

  li {
    margin: 1rem 0rem;
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid var(--green);
  padding: 8px;
  text-align: left;
  margin-bottom: 0.5rem;
}

th {
  background-color: var(--green);
  color: white;
}

.code {
  word-wrap: break-word;
  font-size: 1rem;
  margin: 1rem 0rem;
  padding: 1rem;
  height: 350px;
  overflow: scroll;
  color: var(--green);
  border-radius: 5px;
  border: 1px solid var(--green);
  position: relative;

  button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

.code-btn {
  margin-right: 1rem;
}
