.feature {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;

  img {
    height: 50px;
    width: 50px;
  }

  .feature-text {
    padding: 1rem;
  }
}
