.form-container {
  background-color: var(--green);
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  text-align: center;
  padding: 1rem;
  justify-content: center;
  background-color: var(--green);

  form {
    margin: auto;
    max-width: 600px;
    display: flex;
  }

  input {
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    width: 100%;
    border-radius: 10px 0px 0px 10px;

    &:focus {
      outline: none;
      box-shadow: inset 4px 0px 2px 1px rgba(0, 0, 0, 0.256);
    }

  }

  button {
    font-size: 1.2rem;
    border: none;
    padding: 1rem;
    background-color: var(--gray);
    color: var(--green);
    border-radius: 0px 10px 10px 0px;
  }
}

.sign-up {
  color: white;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}


.message {
  color: white;
  text-align: center;
  padding: 2rem;
  background-color: var(--green);

  p {
    margin-top: 1rem;
  }
}

#form-span {
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: var(--gray);
  }
}
