.form-container {
  background-color: var(--green);
}

.form {
  margin: auto;
  padding: 1rem;
  text-align: center;
  max-width: 600px;

  form {
    display: flex;
  }

  input {
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    width: 100%;

    &:focus {
      outline: none;
      box-shadow: inset 4px 0px 2px 1px rgba(0, 0, 0, 0.256);
    }
  }

  button {
    font-size: 1.2rem;
    border: none;
    padding: 1rem;
    background-color: var(--gray);
    color: white;
  }
}

.sign-up {
  text-align: center;
  color: white;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}


.message {
  color: white;
  text-align: center;
  padding: 2rem;

  p {
    margin-top: 1rem;
  }
}

#form-span {
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: var(--gray);
  }
}
