.user {
  color: white;
  background-color: var(--green);
  padding: 2rem 1rem;
  position: relative;
}

.docs-btn {
  padding: 0.5rem;
  border: none;
  background-color: var(--gray);
  color: var(--green);
  border-radius: 5px;
}

#logout {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#key {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.copy {
  border-radius: 5px;
  margin: 1rem 0rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: var(--green);
}
