@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "./components/reset.scss";
@import "./components/fonts.scss";
@import "./components/banner.scss";
@import "./components/navbar.scss";
@import "./components/form.scss";
@import "./components/footer.scss";
@import "./components/feature.scss";
@import "./components/demo.scss";
@import "./components/user.scss";
@import "./components/documentation.scss";

:root {
  --green: #053900;
  --gray: #8d8d8d;
  --inter: 'Inter', sans-serif;
}

body {
  color: var(--green)
}

button {
  &:hover {
    cursor: pointer;
    background-color: antiquewhite;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: #e6e6e6;
  }
}
